.subtotal{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 90px;
    height: 100px;
    padding: 20px;
    
    border: 1px solid grey;
    /* top: 100px; */
    
    border-radius: 3px;
    justify-content: space-between;
    
    background-color: whitesmoke;    
}

.subtotal_gift{
    display: flex;
    align-items: center;
}

.subtotal_gift > input{
margin-right: 5px;
}


.subtotal_button{
    display: block;
    width: 100%;
    padding: 5px 100px;
    background: rgb(232, 180, 84);
    border: 1px solid;  
    border-color: rgb(108, 87, 47)  rgb(108, 87, 47)  rgb(108, 87, 47);
    color: black;
    
}